* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  background-color: #faeaff;
}
a {
  text-decoration: none;
}

/*Start Navbar*/
.active-searchBar {
  width: 250px;
  transition: all 300ms linear;
}
.active-searchInput {
  width: 180px;
  transition: all 400ms linear;
}
.border-searchBar {
  outline: 1px solid gray;
}
div.H-Menu {
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  z-index: 999;
}
nav > div.H-Menu > ul > div > * {
  border-bottom: 1px solid #5700633b;
}
nav > div.H-Menu > ul > div > li:nth-of-type(1) {
  border: unset !important;
}
div#search-navbar2 {
  border: 1px solid gray;
}
/*End Navbar*/


.add {
  left: 12px;
  border-bottom-right-radius: 8px;
  transition: all 300ms linear;
  color: #580063;
}
.add:hover{
  background-color: #580063;
}
.add:hover > p{
  color: #faeaff !important;
}
.add:hover > p > img:nth-of-type(1){
  width: 0;
}
.add:hover > p > img:nth-of-type(2){
  width: 24px;
}
a.addHover:hover div.add {
  width: auto;
}
.addHover:hover div.add p {
  width: auto;
  opacity: 1;
}
.addHover:hover div.add > img {
  opacity: 0;
}
